@model HotWheelsFastAndFuriousPremiumCollectionViewModel


@if (this.User.Identity.Name != Model.User.UserName)
{
    <h1 class="text-center">@Model.User.UserName 's Collection</h1>
}

<div class="col-lg-12">
    <div class="text-center">
        <img style="width: 450px; height:300px" src="@Model.ImageUrl" alt="Collection IMAGE" />
    </div>

</div>

<div class="col-lg-12">
    <h1 class="text-center">@Model.Name</h1>
    <h1 class="text-danger">ADD : if collection is NOT public button to make it public !  </h1>
    <h1 class="text-danger">ADD : option for someone to suggest u to buy ur collection !  </h1>
    <h1 class="text-danger">ADD : statistcs (collection price items price and so on)  </h1>
    <p class="text-center">@Model.Description</p>
</div>

<div class="col-lg-12 border">
    <h2 class="text-center">Items in this collection</h2>
    @if (Model.Items == null || Model.Items.Count() == 0)
    {
        <h3 class="text-center">NO ITEMS FOR NOW</h3>
    }
    else
    {
        <div class="col-lg-12 border">
            @foreach (var item in Model.Items)
            {
                <div class="border d-inline-block">
                    <div class=" d-inline-block" style="width: 200px; height:500px">
                        <p class=" text-center">@item.Car.Col</p>
                        @if (item.OwnerPictureUrl == null)
                        {
                            <img class="card-img-top col-md-12" src="@item.Car.PhotoCardLink" alt="Car Card photo">
                        }
                        else
                        {
                            <img class="card-img-top col-md-12" src="@item.OwnerPictureUrl" alt="Car Card photo">
                        }
                        <div class="card-body">
                            <h5 class="card-title">@item.Car.Name</h5>
                            <p class="card-textx">@item.Car.Movie</p>
                            <p>@item.PriceBoughted lv.</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>


@if (this.User.Identity.Name == Model.User.UserName)
{
    <div class="col-lg-12 border">
        <h2 class="text-center">Add items in your collection</h2>
        @foreach (var serie in Model.AllSeries)
        {
            <div>
                <h2>@serie.Name - @serie.Year</h2>
                <div>
                    @foreach (var car in serie.Cars)
                    {
                        <div class=" d-inline-block" style="width: 200px; height:500px">
                            <p class=" text-center">@car.Col</p>
                            <img class="card-img-top col-md-12" src="@car.PhotoCardLink" alt="Car Card photo">
                            <div class="card-body">
                                <h5 class="card-title">@car.Name</h5>
                                <p class="card-textx">@car.Movie</p>
                                <a asp-controller="Marketplace" asp-action="Index" class="btn btn-primary">Check market for this item</a>
                                <form method="post">
                                    <div class="form-check">
                                        <p>Price :</p>
                                        <input class="w-75" asp-for="@Model.AddModel.PriceBoughted" type="number" value="0" step=".01">
                                        <span asp-validation-for="@Model.AddModel.PriceBoughted" class="small text-danger"></span>
                                    </div>
                                    <div>
                                        <input asp-for="@Model.AddModel.CarId" type="hidden" value="@car.Id" />
                                        <input asp-for="@Model.AddModel.CollectionId" type="hidden" value="@Model.Id" />
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="@Model.AddModel.OwnerPictureUrl" type="text" class="form-control" placeholder="Add custom picture if u want">
                                        <span asp-validation-for="@Model.AddModel.OwnerPictureUrl" class="small text-danger"></span>
                                    </div>
                                    <input asp-controller="Collections" asp-action="AddHotWheelsFastAndFuriousPremiumItemToCollection" class="btn btn-primary mt-3" type="submit" value="Add" />
                                </form>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}










