@model IndexViewModel


@{
    string postsAreaTitle = "Trending Posts";

    bool categoryPostsAreAvailable = false;

    //// categoryPostsAreAvailable
    if (Model.PostsByCategory != null && Model.PostsByCategory.Count > 0 || Model.CategoryName != null)
    {
        postsAreaTitle = @Model.CategoryName + " Posts";
        categoryPostsAreAvailable = true;
    }
    else if (Model.SearchModel != null)
    {
        postsAreaTitle = "All Posts";
    }
}

@if (1 == 0)
{
    <h1 class="text-danger">ADD : Pageing (Very Important)</h1>
    <h1 class="text-danger">ADD : #article10 'when someone clicks on post and then back #shows where post is' (Important)</h1>
    <h1 class="text-danger">TODO : Watch video from the workshop to see how to make parenting (Important)</h1>
    <h1 class="text-danger">Currently using properties for stars count, view count... U WANT TO CHANGE THAT DO NOT FORGER</h1>
}

<div class="border col-lg-12">

    @if (categoryPostsAreAvailable)
    {
        <div class="col-lg-12">
            <a asp-controller="Forum" asp-action="Index" class="btn btn-outline-secondary text-center w-100" role="button">Go Back to Trendings</a>
        </div>
    }

    <div class="text-center">
        <h2 class="display-4">CollectorHub's Forum</h2>
    </div>

    <hr />

    <div class="col-lg-12">
        <div class="col-lg-12 text-center">
            <button class="btn btn-outline-secondary text-center w-100" type="button" data-toggle="collapse" data-target="#search" aria-expanded="false" aria-controls="collapseExample">
                Search in Forum
            </button>
        </div>

        <div class="collapse" id="search">

            <hr />

            <div class="border col-lg-12 ">
                <div>
                    <p class="text-center">Get Posts by Category</p>
                </div>
                <div class="text-center">
                    @foreach (var category in Model.Categories)
                    {
                        <div class="d-inline-block">
                            <img class="" style="height: 100px; width: 100px" src="@category.ImageUrl" alt="Category logo" />
                            <a class="btn btn-outline-secondary text-center w-100 " style="width: 100px" asp-controller="Forum" asp-action="Index" asp-route-categoryId="@category.Id" role="button">@category.Name</a>
                        </div>
                    }
                </div>
            </div>

            <hr />


            <div class="col-lg-12 border">
                <form method="post">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <div class="form-group">
                                <label asp-for="@Model.SearchModel.CategoryId"></label>
                                <select asp-for="@Model.SearchModel.CategoryId" class="form-control">
                                    <option value="">All</option>
                                    @foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="@Model.SearchModel.SearchInput"></label>
                            <input asp-for="@Model.SearchModel.SearchInput" class="form-control" placeholder="Hot Wheels fast and furious, etc...">
                        </div>

                        <div class="form-group col-md-4">
                            <div class="form-group">
                                <label asp-for="@Model.SearchModel.SortingId"></label>
                                <select asp-for="@Model.SearchModel.SortingId" class="form-control">
                                    @foreach (var sorting in Model.Sortings)
                                    {
                                        <option value="@sorting.Id">@sorting.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="col-lg-12">
                        <input class="btn btn-outline-secondary text-center w-100" asp-controller="Forum" asp-action="Index" type="submit" value="Search" />
                    </div>

                </form>
            </div>

        </div>
    </div>

    <hr />

    <div class="col-lg-12">
        <a class="btn btn-outline-secondary text-center w-100" asp-controller="Forum" asp-action="MyPosts" role="button">My Posts</a>
    </div>

    <hr />

    <div class="col-lg-12">
        <a class="btn btn-outline-secondary text-center w-100" asp-controller="Forum" asp-action="Create" role="button">Create Post</a>
    </div>

    <hr />

    <h2 class="text-center">@postsAreaTitle</h2>

    <div class="border col-lg-12">
        @{
            var list = Model.TrendingPosts;
            if (categoryPostsAreAvailable)
            {
                list = Model.PostsByCategory;
            }
            if (list == null || list.Count == 0)
            {
                <h2 class="text-center">No Posts for now :)</h2>
            }
            foreach (var post in list)
            {
                <div class=" col-lg-12 ">
                    <div class="col-lg-12 text-center ">
                        <h3>@post.Title - @post.Category.Name - @post.Date</h3>
                    </div>
                    <div class="col-lg-12 ">

                        <div class="text-center" st>
                            <img style="width:500px; height:350px" src="@post.ImageUrl" alt="Post image" />
                        </div>

                        <hr />

                        <div class="col-lg-12 text-center">
                            <p class="align-content-center text-center">@post.CommentCount Comments | @post.ViewCount Views | @post.StarsCount Stars</p>
                        </div>

                        <hr />

                        <div class="col-lg-12">

                            <div class="col-lg-2 d-inline-block border">
                                <div class="text-center">
                                    <img style="width:100px; height:100px" src="https://freesvg.org/img/abstract-user-flat-1.png" alt="User ico" />
                                </div>
                                <div class="text-center">
                                    <p>@post.OwnerUserName</p>
                                </div>
                            </div>

                            <div class="col-lg-9 d-inline-block border ">
                                <div class=" text-center">
                                    <p>@post.Content</p>
                                </div>
                            </div>

                        </div>

                        <hr />

                        <div class="col-lg-12">
                            <a asp-controller="Forum" asp-action="Post" asp-route-postId="@post.Id" class="btn btn-outline-secondary text-center w-100" role="button">Check out this Post</a>
                        </div>

                        <hr />

                    </div>

                </div>
            }
        }
    </div>
</div>


