@model ForumIndexViewModel

<h1 class="text-danger">ADD : Pageing (Very Important)</h1>
<h1 class="text-danger">ADD : #article10 'when someone clicks on post and then back #shows where post is' (Important)</h1>
<h1 class="text-danger">TODO : Watch video from the workshop to see how to make parenting (Important)</h1>
<h1 class="text-danger">Currently using properties for stars count, view count... U WANT TO CHANGE THAT DO NOT FORGER</h1>


<div class="border col-md-12">
    <h2 class="text-center">Categories</h2>
    <div class="border col-lg-12 ">
        @foreach (var category in Model.Categories)
        {
            <div class="d-inline-block ">
                <img class="border " style="height: 100px; width: 100px" src="@category.ImageUrl" alt="Category logo" />
                <p class="align-content-center text-center">@category.Name</p>
            </div>
        }
    </div>

    <div class="col-lg-12">
        <a class="btn btn-outline-secondary text-center w-100" asp-controller="Forum" asp-action="Create" role="button">Create Post</a>
    </div>

    <hr />

    <h2 class="text-center">Trending conversations</h2>
    <div class="border col-lg-12">
        @if (Model.ForumPosts == null || Model.ForumPosts.Count() == 0)
        {
            <h2 class="text-center">No Posts for now :)</h2>
        }
        else
        {
            foreach (var post in Model.ForumPosts)
            {
                <div class="border col-lg-12">
                    <h3>@post.Title - Category - @post.Date</h3>
                    <img class="col-lg-4" style="height:125px; width:300px" src="@post.ImageUrl" alt="Post image" />
                    <p class="d-inline-block">@post.Content</p>
                    <p class="align-content-center text-center">@post.CommentCount Comments | @post.ViewCount Views | @post.StarsCount Stars</p>
                    <a asp-controller="Forum" asp-action="Post" asp-route-postId="@post.Id" class="btn btn-outline-secondary text-center w-100" role="button">Check out this Post</a>
                </div>
            }
        }
    </div>
</div>


