@model ForumPostViewModel

    <a class="btn btn-outline-secondary text-left" asp-controller="Forum" asp-action="Index" role="button">Back to Posts Main page</a>



    <div class="col-lg-12 border">
        <h1 class="text-center">@Model.Title</h1>
        <div class="text-center">
            <img style="width:350px; height:300px" src="@Model.ImageUrl" alt="Forum post Image" />
        </div>
    </div>

    <div class="col-lg-12 border">
        <p class="text-center">@Model.Comments.Count() Comments @Model.ViewsCount Views @Model.StarsCount Stars</p>
        <div class="col-lg-12">
            <p class="">@Model.Content</p>
        </div>
    </div>
