
@model MainPageIndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Digitalize your collection</h2>
    <h2 class="display-4">Build FROM collectors FOR collectors!</h2>
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <div class="col-lg-12">
        <div class="text-center">
            <div class="col-lg-2 d-inline-block">
                <p>@Model.TotalUsersCount Users</p>
            </div>
            <div class="col-lg-2 d-inline-block">
                <p>@Model.TotalCollectionsCount Collections</p>
            </div>
            <div class="col-lg-2 d-inline-block">
                <p>@Model.TotalForumPostsCount Posts</p>
            </div>
        </div>
    </div>
</div>


<partial name="_TrendingCollectionsPartial" model="@Model.TrendingCollections" />




