

@model IEnumerable<HotWheelsPremiumSeriesViewModel>

<a class="btn btn-outline-secondary text-left" asp-controller="Themes" asp-action="Index" role="button">Back to all themes</a>


<h1> all hot wheels items here</h1>


@foreach (var serie in Model)
{
    <div>
        <h2>@serie.Name - @serie.Year</h2>
        <div>
            @foreach (var car in serie.Cars)
            {
                <div class="  col-md-4 d-inline-block" style="width: 200px; height:500px">
                    <p class=" text-center">@car.Col</p>
                    <img class="card-img-top col-md-12" src="@car.PhotoCardLink" alt="Car Card photo">
                    <div class="card-body">
                        <h5 class="card-title">@car.Name</h5>
                        <p class="card-textx">@car.Movie</p>
                        <a asp-controller="Marketplace" asp-action="Index" class="btn btn-primary">Check market for this item</a>
                    </div>
                </div>
            }
        </div>

    </div>
}

